admin_user: play2ai
timezone: Europe/Moscow
vps_public_ip: 31.77.131.246
external_iface: ens3

awg_port: 51820
awg_iface: awg0
awg_subnet: 10.8.0.0/24
awg_server_ip_cidr: 10.8.0.1/24
awg_server_ip: 10.8.0.1

pihole_web_port: 8080
pihole_password: CHANGE_ME_STRONG_PASSWORD

mtproxy_port: 8888
mtproxy_fake_tls_domain: vk.com
mtproxy_secret: CHANGE_ME_32_HEX_CHARS
